@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", serif;
  font-weight: 400;
  color: #fff;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.wrapper {
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(26, 14, 1, 1) 100%
  );
}
.container {
  width: 1400px;
  margin: 0 auto;
}
header {
  padding: 50px 0;
}
header .logo {
  text-transform: uppercase;
  font-size: 29px;
  font-weight: 800;
}
header nav {
  float: right;
  width: 50%;
}
header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  position: relative;
}
header nav ul li {
  display: inline-block;
}
header nav ul li.active::after {
  content: "";
  display: block;
  width: 40px;
  height: 5px;
  background: #dc7000;
  border-radius: 10px;
  position: relative;
  top: 10px;
  left: -15px;
}
header nav ul li a {
  color: #fff;
}
header nav ul li:not(.active):not(.btn) a:hover {
  border-bottom: 5px solid #dc7000;
}
header nav ul li.btn a {
  background: #e87d0e;
  padding: 9px 17px;
  border-radius: 6px;
  transition: all 700ms ease;
}
header nav ul li.btn a:hover {
  background: #0ee882;
}
.hero {
  padding-bottom: 100px;
  position: relative;
  z-index: 1;
}
.hero--info {
  width: 527px;
  height: 512px;
  padding-top: 70px;
  margin-left: 90px;
}
.hero--info h2 {
  color: #e87d0e;
  font-size: 20px;
  font-weight: 700;
}
.hero--info h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 700;
}
.hero--info p {
  color: #ffff;
  font-size: 16px;
  font-weight: 500;
  margin: 30px 0;
}
.hero--info .btn {
  width: 195px;
  height: 53px;
  background: #e87d0e;
  border-radius: 40px;
  border: 0;
  color: #fff;
  font-weight: 500;
  font-size: 19px;
  margin-top: 50px;
}
.hero--info .btn:hover {
  transform: scale(1.1);
  transition: all 700ms ease;
  background: #0ee882;
}
.hero img {
  position: absolute;
  top: -160px;
  right: 0;
}
